{% macro locationCard( name, area, image) %}

<div class="location-individual">
  <img
    class="location-image"
    src="{{image}}"
    alt="{{ name }}"
  />
  <div class="location-about">
    <h3>
      {{ name }}
    </h3>
    <p>{{area}}</p>
    </div>
  </div>
</div>

{% endmacro %}
