{% set body_class = "home" %} {% set active_page = "home" %} {% extends
"layout.njk" %} {% block content %}
<h2>About</h2>
<p class="lead">
  Look around you in Manchester and you're bound to see some street art. Whether
  its stunning murals that cover an entire wall or cheeky sloganed posters, it
  seems like the art on the city's streets changes regularly. This page aims to
  record some of the popular spots to see art in Manchester as well as to give
  more information on artists who work in the city.
</p>
<hr />
<p>Other sites promoting street art in Manchester</p>
<ul>
  <li><a href="https://streetartnq.com/">Street Art Northern Quarter</a></li>
  <li><a href="https://streetartcities.com/cities">Street Art Cities</a></li>
</ul>
<!-- add form? -->
{% endblock %}
