{{ artistCard(name ='Akse', url = 'https://www.instagram.com/akse_p19/', image_alt = 'Akse', overview='Akse is a French artist based in Manchester who has been with the "P19" crew since the early nineties. He has produced some of the most memorable murals in Manchester in recent years, inlcuding those of George Floyd, Arya Stark and David Bowie on Outhouse MCR (see more about this location here)') }}

{{ artistCard(name ='Qubek', url = 'https://streetartnq.com/artists/qubek', image_alt = 'qubek', overview='Qubek is mostly known for his bee-related murals, the bee being a symbol of Manchester. His work appears largely in central Manchester, specifically the Northern Quarter.') }}

{{ artistCard(name ='Tankpetrol', url = 'http://www.tankpetrol.com/', image_alt = 'tankpetrol', overview='Tankpetrol is a Polish artist based in Manchester. He describes his work as embraincg te diversity of women, with many of his murals indeed depicting women. His work has appeared in temporary locations, but one of his most well-known depicts a woman with a cigarette in a hat with Russian text which decorates the shutters of a Northern Quarter establishment.') }}





